<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
	    http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.1.xsd">

	<!-- 加载配置文件 -->
	<context:property-placeholder location="classpath:conf/resource.properties"/>
	<context:component-scan base-package="com.dai.Controller" />
	<mvc:annotation-driven />
	<task:annotation-driven />

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/cart/**"/>
			<mvc:mapping path="/order/**"/>
			<mvc:exclude-mapping path="/order/order-cart-take-out" />
			<bean class="com.dai.interceptor.CartInterceptor" />
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/order/order-cart-take-out" />
			<bean class="com.dai.interceptor.OrderInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>

	<!-- 配置全局异常处理器 -->
	<bean class="com.dai.Exception.GlobalExceptionResolver"/>

	<!-- 配置资源映射 -->
	<mvc:resources location="/bootstrap/" mapping="/bootstrap/**" />
	<mvc:resources location="/other/" mapping="/other/**" />
	<mvc:resources location="/themes/" mapping="/themes/**" />
	<mvc:resources location="/error/" mapping="/error/**" />
	

</beans>